:root {
  --primary-text-color: #000000;
  --secondary-text-color: #888888;
  --tertiary-text-color: #ffffff;

  --primary-page-color: #6500ff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Header Section */
#header-section {
  margin: 20px;
}

#header-section h1 {
  font-size: 40px;
  color: var(--primary-text-color);
}

#header-section span {
  position: relative;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.type span {
  margin-left: 40px;
}

.type i {
  position: absolute;
  transform: translate(20%, -4px);
  font-size: 24px;
}
