:root {
  --primary-text-color: #000000;
  --secondary-text-color: #888888;
  --tertiary-text-color: #ffffff;

  --primary-page-color: #6500ff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
}

/* Header Section */
#header-section {
  margin: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container h1 {
  font-size: 40px;
  color: var(--primary-text-color);
}

.header-container span {
  position: relative;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.type span {
  margin-left: 40px;
}

.type i {
  position: absolute;
  transform: translate(20%, -4px);
  font-size: 24px;
}

/* Card Section */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - (30px * 2) / 3);
  flex-grow: 1;

  min-width: 400px;
  height: 700px;
  margin-top: 40px;
  padding: 30px;

  border-radius: 20px;
  box-shadow: 0 5px 15px #00000030;
}

.card.plus {
  color: var(--tertiary-text-color);
  background-color: var(--primary-page-color);
}

.card-header {
  margin: 20px 0;
}

.card-cost {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card-cost h1 {
  font-size: 60px;
}

.card-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.card-sale div {
  width: 80px;
  height: 30px;
  margin-left: 10px;

  text-align: center;
  line-height: 30px;

  border-radius: 5px;
  background-color: #88888850;
}

.card button {
  margin: 10px 0;
  height: 60px;

  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;

  color: var(--tertiary-text-color);
  background-color: var(--primary-page-color);
}

.card.plus button {
  color: var(--primary-page-color);
  background-color: var(--tertiary-text-color);
}

.card-list {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.card-list li {
  margin: 20px 0;
  font-size: 20px;
}
